<%- include('./partials/header') %>


    <%# <div>
        <img src="https://www.w3schools.com/w3images/lights.jpg" name="Awesome Tweets" alt="" style="width:100vw; height: 100vh">

          <h2><span class="">Welcome to the Awesome Tweets!<span></h2>
        </div>
    </div>%>

    <%# <div class="container-fluid">
      <div class="image">
        <img class="" src="images/ocean.jpg" alt="" style="width:100%" class="w3-hover-opacity"/>
        <h2><span class="">Welcome to the Awesome Tweets!<span></h2>
      </div>
    </div>%>

  <div class="row">
    <div class="text-center">
        <img src="images/ocean.jpg" alt="" class="" style="width: 100%; fixed" >
        <div class="caption">
            <h2>Welcome to the Awesome Tweets!</h2>
        </div>
    </div>
  </div>






<%- include('./partials/footer') %>
