/*
curl -O http://i.imgur.com/ymRVvX6.jpg
*/
html {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

* {
  font-family: inherit;
  font-weight: inherit;
}

.cover-image {
  width: 50vw;
  border-radius: 5px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}


/*.image {
   position: relative;
   width: 100%; //for IE 6
}*/

h2 {
   position: fixed;
   top: 200px;
   left: 500px;
   width: 100%;
   /*margin-right: 100px;*/
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);

   /*padding: 10px;*/
}

/*h2 span.spacer {
   padding:0 5px;
}*/
