<%- include('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-4 hidden-xs">

      <div class="">
          <h2>Full Name</h2>
          <h3>@username</h3>
          <p>Message 12</p>
      </div>

      <div class="">
          <h2>Trending AweTweets</h2>
          <h3>@username</h3>
          <p>#Things</p>
      </div>

    </div>


    <div class="col-xs-12 col-md-8">
      <form method="POST" action="/posts/new">
        <div>
          <label>username</label>
          <input type="text" name="author">
        </div>

        <div>
          <textarea name="content" rows="8" cols="80" placeholder="Write message here"></textarea>
        </div>

        <div>
          <input type="submit">
        </div>
      </form>
    </div>


  <div class="col-md-8">
    <% if (tweets) { %>
      <% for(var i = 0; i < tweets.length; i++){ %>
        <div style="border: 2px solid red;">
          <h1> <%= tweets[i].author %> </h1>
          <h4> <%= tweets[i].content %> </h4>
        </div>
      <% } %>
    <% } %>
  </div>

  </div>

</div>

<%- include('../partials/footer') %>
